<footer class="sticky-bottom mt-5" role="contentinfo">
  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }}.
    
    {%- if site.last_updated -%}
      <br>
      Last updated: {{ "now" | date: "%B %d, %Y" }}.
    {%- endif -%}
    
    <br>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">
      Total visits: <span id="busuanzi_value_site_pv"></span>
    </span>
  </div>
</footer>
