---
---
<div class="row" style="margin-bottom: 2rem;">
  <div id="{{ entry.key }}" class="col-sm-12" style="border-left: 2px solid var(--global-theme-color); padding-left: 1.5rem; margin-left: 5px;">
    
    <div class="title" style="font-weight: bold; font-size: 1.1rem; line-height: 1.4; margin-bottom: 0.4rem;">
      {{ entry.title }}
    </div>
    
    <div class="author" style="font-size: 0.95rem; margin-bottom: 0.3rem;">
      {% assign author_array_size = entry.author_array | size %}
      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        {% if site.scholar.last_name contains author_last_name %}
          {% if site.scholar.first_name contains author.first %}
            {% assign author_is_self = true %}
          {% endif %}
        {%- endif -%}
        
        {% assign coauthor_url = null %}
        {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
        {% if site.data.coauthors[clean_last_name] %}
